:root { font-family: "Noto Sans Old Italic", sans-serif;

}
#proxima-viagem, #amantes-historia {
    color: #E1624F;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}

h1, h2 {
  color: #1B1B1B;
  margin-left: 5px;
}
h3, h4, h5 {
  color: #1B1B1B;
  margin-left: 5px;
  font-size: larger;
}

img {
  border-radius: 28px;
  width: 100%;
  object-fit: cover;
}

#descricao-img1 {
  text-align: center;
  font-style: italic;
  margin-top: 25px;
}

.divisao-tela {
  width: 100%;
  height: 60px;
  color: #D9D9D9;
  position: center;
}

p {
  font-style: italic;
  color: #333;

}

li {
  color: black;
}

 li::marker {
  color: black;
}

.casais {
  color: #591B98;
}

.familias {
  color: #E5245E;
}

.passeios {
  color: #E95E10;
}

.divisao-2 {
  width: 100%;
  height: 60px;
  color: #D9D9D9;
  position: center;
}

#descricao-final {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 40px;
}

.bom-para {
  color:blue;
}




